@import './variable';


body{
     // background-color:$dark;
     font-family: 'Lato',sans-serif;
     -webkit-font-smoothing:antialiased;
}
nav li:last-child a{
     border-radius: 50%;
}
nav li a{
&:hover{
     color: $primary;
}
}
.hero{
     background: $secondary;
}
.btn-primary{
     background: $primary;
     &:hover{
          background: $primary-hover;
     }
}
section.cart{
 background: $secondary;
 .amount{
      color: $primary;
 }
}

section.login{
     background: $secondary;
     min-height: calc(100vh -150px);
}
section.register{
     background: $secondary;
     min-height: calc(100vh - 150px);
}